{% extends "blog/layout.html" %}
    {% block content %}
            <article class="media content-section">
                <img src="{{ object.author.profile.image.url }}" alt="Profile Image" class="rounded-circle" width="60rem">
                <div class="media-body">
                    <div class="article-metadata">
                        <a href="#" class="mr-2">{{ post.author }}</a>
                        <small class="text-muted">{{ post.date_posted | date:"F d, Y"}}</small>
                    </div>
                    <h2><a href="#" class="article-title">{{ post.title }}</a></h2>
                    <p class="article-content">{{ post.content }}</p>
                    {% if object.author == user %}
                        <a href="{% url 'post-update' object.id %}" class="btn btn-secondary">Update</a>
                        <a href="{% url 'post-delete' object.id %}" class="btn btn-danger">Delete</a>
                    {% endif %}
                </div>
            </article>
            
    {% endblock content %}